---
layout: default
---
<h1>
  As Simple As Possible
</h1>
<div>
  <h2>Table of Contents</h2>
</div>
<div>
  <h3>
    On Software
  </h3>
  {% for post in site.categories.software %}
    <dl>
      <dt><a href="{{post.url}}">{{post.title}}</a></dt>
      <dd></dd>
    </dl>
  {% endfor %}
  <h3>
    On Travel, Food and Other Stories
  </h3>
  {% for post in site.categories.stories %}
    <dl>
      <dt><a href="{{post.url}}">{{post.title}}</a></dt>
      <dd></dd>
    </dl>
  {% endfor %}
</div>
