.fn {
	font-weight: bold;
}

#disqus_thread {
  text-align: left;
}

.post {
  text-align: justify;
}

.post h2, .post h4 {
  text-align: center;
}

/*From Mark Pigrim's Dive into HTML5 */
/*http://hg.diveintohtml5.org/hgweb.cgi/file/4fafc2e596ed/screen.css*/

dl{clear:both;width:100%;overflow:auto;background:#fff url(/images/dot.png) repeat-x 0 0.8em}
dt,dd{background:#fff}
dt{float:left;padding-right:3px}
dd{margin:0;float:right;}

/* http://www.mad-designs.org */
body,td,th {
font-family:Verdana, Helvetica, Arial, sans-serif;
font-size:14px;
line-height:22px;
color:#333;
}

body {
background-color:#FFF;
margin:0;
}

img {
border:none;
}

a {
color:#09F;
/*text-decoration: none;*/
}

a:hover {
color:white;
background-color:#09F;
}

/*a:visited {color:#0099FF; text-decoration:none;}*/
.container {
margin-left:auto;
margin-right:auto;
width:700px;
}

.header {
min-height:60px;
width:100%;
margin:0;
margin-top: 15px;
}

h1 {
font-size:52px;
line-height:64px;
margin:0;
}

h1 a:hover {
	background-color: white;
}

h2 {
font-size:20px;
line-height:30px;
margin:0;
}

h3 {
font-size:16px;
line-height:24px;
color:#09F;
margin:0;
}

.topl {
text-align: center;
}

.row3l {
width:100%
}

.footer {
width:100%;
float:left;
border-top:10px #333 solid;
text-align:center;
margin-bottom:10px;
font-size: small;
}

.row1l h2 {
/*font-family:Georgia, "Times New Roman", Times, serif;*/
font-size:30px;
line-height:36px;
margin:0;
margin-top: 20px;
}

.row1,.row2,.row3 {
width:100%;
margin-top:20px;
}

.row1l {
width:100%;
text-align: center;
border-top:10px #333 solid;
}

.row3ll {
width:99%;
float:left;
border-top:10px solid #F30;
}
