footer {
  padding-bottom: 10px;
  padding-top: 10px;
}

  footer .container {
    padding-top: 5px;
    border-top: 1px solid #EEE;
  }

.profile-picture {
  padding-right: 10px;
}

pre.prettyprint {
  font-size: small;
}

.photos {

}

  .photo a, .photo a:hover {
    text-decoration: none;
    background-color: #fff;
  }

  .photo {
    border: 1px solid #AAA;
    padding: 5px;
    margin: 10px;
    width: 200px;
    float: left;
  }

  .first_photo {
    margin-left: 0;
  }

.fn {
	font-weight: bold;
}

#disqus_thread {
  text-align: left;
}

/*From Mark Pigrim's Dive into HTML5 */
/*http://hg.diveintohtml5.org/hgweb.cgi/file/4fafc2e596ed/screen.css*/

dl{clear:both;width:100%;overflow:auto;background:#fff url(/images/dot.png) repeat-x 0 0.8em}
dt,dd{background:#fff}
dt{float:left;padding-right:3px}
dd{margin:0;float:right;}