body {
  text-rendering: optimizeLegibility;
}

.content p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

  .content p a {
    color: #212529;
    text-decoration: underline;
  }

  .content p a:hover {
    color: #212529;
  }

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

code {
  color: rgb(88, 110, 117);
}

footer {
  padding-bottom: 20px;
  padding-top: 10px;
}

  footer #footer-info {
    padding-top: 10px;
    border-top: 1px solid #EEE;
  }

.photos {
}

  .photo a, .photo a:hover {
    text-decoration: none;
    background-color: #fff;
  }

  .photo {
    border: 1px solid #AAA;
    padding: 5px;
    margin: 10px;
    width: 200px;
    float: left;
  }

  .first_photo {
    margin-left: 0;
  }

.fn {
	font-weight: bold;
}

/*From Mark Pigrim's Dive into HTML5 */
/*http://hg.diveintohtml5.org/hgweb.cgi/file/4fafc2e596ed/screen.css*/

dl {clear:both;width:100%;overflow:auto;background:#fff url(/images/dot.png) repeat-x 0 0.8em}
dt,dd {background:#fff}
dt { float:left;padding-right:3px }
  dt a {
    color: #212529;
  }

  dt a:hover {
    color: #212529;
  }

dd {margin:0;float:right;}

/* RC Pill */
.rc-pill {  font-family: 'Open Sans', sans-serif;  border-radius: 4px;  display: inline-block;  position: relative;  overflow: hidden;  white-space: nowrap;  font-size: 11px;  cursor: pointer;}
.rc-pill strong {  font-weight: bold;}
.rc-pill a {  color: white;  text-shadow: rgba(1, 1, 1, 0.3) 0.75px 0.75px 0px;}
.rc-pill div {  display: inline-block;  padding: 2px 5px 2px 5px;}
.rc-pill .r {  background: #61ae24;  background: -webkit-linear-gradient(#61ae24, #559920);  background: linear-gradient(#61ae24, #559920);}
.rc-pill i.icon-svg svg {  height: 1em;  margin-right: 0.33em;  margin-bottom: -1px;  display: inline-block;}