<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  {% if page.title %}
    <title>{{page.title}} - As Simple As Possible</title>
  {% else %}
    <title>As Simple As Possible</title>
  {% endif %}
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>

<body><div class="container">
<div class="header">
  <div class="topl">
    <h1>
      <a href='/' style='text-decoration:none; color: inherit'>As Simple As Possible</a>
    </h1>
  </div>
</div>
<div class="row1">
<div class="row1l">
  {{ content }}
</div>
</div>
<br clear="all" />
<div class="row3">
<div class="row3l">
<div class="row3ll">
  <div style='float: left; padding: 0 20px 0 5px;'>
    <img src='/images/profile_small.jpg'>
  </div>
  <div>
    <p>
      <strong>SengMing Tan</strong>
      believes in Ruby and usable designs.
      He is rabid consumer of comic books and pop music.
      He currently works for Freescale Semiconductors and lives in Kuala Lumpur.
      <a href='/about/'>
        More &raquo;
      </a>
    </p>
  </div>
</div>
</div>
</div>
<br clear="all" />
<div class="footer">&copy; SengMing Tan | Design by <a href="http://www.mad-designs.org">mad<em>designs</em></a><em></em>
</div>
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/simplest/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</body>
</html>
