<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>As Simple As Possible</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>

<body><div class="container">
<div class="header">
  <div class="topl">
    <h1>
      <a href='/' style='text-decoration:none; color: inherit'>As Simple As Possible</a>
    </h1>
  </div>
</div>
<div class="row1">
<div class="row1l">
  {{ content }}
</div>
</div>
<br clear="all" />
<div class="row3">
<div class="row3l">
<div class="row3ll">
  <div style='float: left; padding: 0 20px 0 5px;'>
    <img src='/images/profile_small.jpg'>
  </div>
  <div>
    <h2>SengMing Tan</h2>
    believes in Ruby and usable designs.
    He is rabid consumer of comic books and good pop music.
    He currently works for Freescale Semiconductors and lives in Kuala Lumpur.
    <a href='/about/'>
      More &raquo;
    </a>
  </div>
</div>
</div>
</div>
<br clear="all" />
<div class="footer">&copy; SengMing Tan | Design by <a href="http://www.mad-designs.org">mad<em>designs</em></a><em></em>
</div>
</body>
</html>
