---
layout: slide
---
/ Sample Source
/ Gotchas
/ - only change when manifest file changes
/ - NOT when files linked on manifest file changes
/ - goes into application cache

/ Best Practice
/ - manifest should link to
/ - usually want NETWORK all. Unless you specially want to block network access. Will break 3rd party links, e.g. google maps
/ http://developer.apple.com/library/safari/#documentation/iPhone/Conceptual/SafariJSDatabaseGuide/OfflineApplicationCache/OfflineApplicationCache.html
%section
  %h1
    HTML 5 Cache Manifest
%section
  %ul
    %li
      a great way to improve the cache performance of your web app
    %li
      1 file specified from the
      %code
        HTML
      tag
    %li
      Saves to local storage (instead of browser cache)
    %li
      Works offline
    %li
      Great for single page web apps
%section
  %code
    *.html
  %pre
    %code.html
      &lt;!DOCTYPE HTML&gt;
      &lt;html manifest="path/cache.manifest"&gt;
      &lt;body&gt;
      \...
  %code
    path/cache.manifest
  %pre
    %code
      &nbsp;
      CACHE MANIFEST
      \# This is a comment.
      \# Cache manifest version 0.0.1
      \# If you change the version number in this comment,
      \# the cache manifest is no longer byte-for-byte identical.
      demoimages/clownfish.jpg
      demoimages/clownfishsmall.jpg
      %br
      NETWORK:
      \# All URLs that start with the following lines are whitelisted.
      http://example.com/examplepath/
      http://www.example.org/otherexamplepath/
      %br
      CACHE:
      \# Additional items to cache.
      demoimages/stonessmall.jpg
      %br
      FALLBACK:
      demoimages/currentImg.jpg images/stockImage.jpg
%section
  %p
  %ul
    %li
      Doesn't matter if files changed
    %li
      Doesn't matter if your original HTML file changed